.pagination {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  color: var(--color-txt-lighter);

  :global(.current) {
    display: inline-block;
    color: var(--color-primary);

    &::after {
      content: '|';
      display: inline-block;
      margin-right: var(--spacing-xs);
      margin-left: var(--spacing-xs);
      color: var(--color-txt-light);
      opacity: 0.5;
    }
  }
}
