.loader {
  color: var(--color-txt-lighter);

  animation: infinite 1s linear rotate;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
