.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  fill: currentColor;

  &:global(.-xs) {
    width: var(--icon-xs);
    height: var(--icon-xs);
  }

  &:global(.-s) {
    width: var(--icon-s);
    height: var(--icon-s);
  }

  &:global(.-m) {
    width: var(--icon-m);
    height: var(--icon-m);
  }

  &:global(.-l) {
    width: var(--icon-l);
    height: var(--icon-l);
  }

  &:global(.-xl) {
    width: var(--icon-xl);
    height: var(--icon-xl);
  }
}

.primary {
  color: var(--color-primary);
}

.neutral {
  color: var(--color-neutral);
}
