.grid {
  display: grid;
  gap: var(--spacing-m);
  grid-template-columns: repeat(1, minmax(230px, 350px));
  justify-content: center;

  @media (--from-small) {
    grid-template-columns: repeat(2, minmax(230px, 350px));
  }

  @media (--from-medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--from-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
