@font-face {
  font-family: 'poppins';
  src:
    url('../fonts/poppins-medium.woff2') format('woff2'),
    url('../fonts/poppins-medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src:
    url('../fonts/poppins-semibold.woff2') format('woff2'),
    url('../fonts/poppins-semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
