@font-face {
  font-family: 'source-sans-pro';
  src:
    url('../fonts/SourceSans3-Medium.woff2') format('woff2'),
    url('../fonts/SourceSans3-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'source-sans-pro';
  src:
    url('../fonts/SourceSans3-ExtraBold.woff2') format('woff2'),
    url('../fonts/SourceSans3-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}
