.-margin {
  &-none {
    margin: 0;
  }

  @each $spacing in xs, s, m {
    &-$(spacing) {
      margin: var(--spacing-$(spacing));
    }
  }

  @each $border in top, right, bottom, left {
    &-$(border)-none {
      margin-$(border): 0;
    }

    @each $spacing in xs, s, m {
      &-$(border)-$(spacing) {
        margin-$(border): var(--spacing-$(spacing));
      }
    }
  }
}
