.no-found {
  padding: var(--spacing-l) 0;
  text-align: center;
  font-size: 1.25em;
  color: var(--color-txt-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
}
